1\. **Pandas DataFrame**

This exercise consists in analyzing a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a pair of FPGAs. Each measurement (i.e. each row of the input file) consists of a flag that specifies the type of message ('HEAD', which in this case is always 1), two addresses of the TDC providing the signal ('FPGA' and 'TDC_CHANNEL'), and the timing information ('ORBIT_CNT', 'BX_COUNTER', and 'TDC_MEAS'). Each TDC count corresponds to 25/30 ns, whereas a unit of BX_COUNTER corresponds to 25 ns, and the ORBIT_CNT is increased every `x` BX_COUNTER. This allows to store the time in a similar way to hours, minutes and seconds.

In [1]:
# If haven't downloaded it yet, please get the data file with wget
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ./data/

1\. Create a Pandas DataFrame reading N rows of the `data/data_000637.txt` dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k (check the documentation).

In [2]:
import pandas as pd
import numpy as np
import random
import datetime as dt

file_name = "data_000637.txt" 
N=random.randint(10000,1300000)
data = pd.read_csv(file_name ,nrows=N)
data

        HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0          1     0          123  3869200167        2374        26
1          1     0          124  3869200167        2374        27
2          1     0           63  3869200167        2553        28
3          1     0           64  3869200167        2558        19
4          1     0           64  3869200167        2760        25
...      ...   ...          ...         ...         ...       ...
325006     1     0           50  3869203419        1109        23
325007     1     1            6  3869203419        1109         7
325008     1     0           64  3869203419        1104        15
325009     1     0           41  3869203419        1112        19
325010     1     0           43  3869203419        1099        23

[325011 rows x 6 columns]

2\. Estimate the number of BX in a ORBIT (the value `x`).

*Hint*: check when the BX counter reaches the maximum value before being reset to 0.

In [3]:
data.groupby(by="ORBIT_CNT")["BX_COUNTER"].transform(np.max).unique().mean()

2745.1472031403337

3\. Create a new column with the absolute time in ns (as a combination of the other three columns with timing information) since the beginning of the data acquisition, and convert the new column to a Time Series.

In [12]:
data["ABS_TIME"]=(data["BX_COUNTER"]*25+data["TDC_MEAS"]*(5/6)).cumsum()
data
#time_column=pd.Series(data["ABS_TIME"])
#time_column
data["Total"]=pd.to_datetime(data["ABS_TIME"],unit="ns")
data
#Completa

,HEAD,FPGA,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS,ABS_TIME,Total
0,1,0,123,3869200167,2374,26,5.937167e+04,1970-01-01 00:00:00.000059371
1,1,0,124,3869200167,2374,27,1.187442e+05,1970-01-01 00:00:00.000118744
2,1,0,63,3869200167,2553,28,1.825925e+05,1970-01-01 00:00:00.000182592
3,1,0,64,3869200167,2558,19,2.465583e+05,1970-01-01 00:00:00.000246558
4,1,0,64,3869200167,2760,25,3.155792e+05,1970-01-01 00:00:00.000315579
...,...,...,...,...,...,...,...,...
325006,1,0,50,3869203419,1109,23,1.452856e+10,1970-01-01 00:00:14.528556863
325007,1,1,6,3869203419,1109,7,1.452858e+10,1970-01-01 00:00:14.528584594
325008,1,0,64,3869203419,1104,15,1.452861e+10,1970-01-01 00:00:14.528612206
325009,1,0,41,3869203419,1112,19,1.452864e+10,1970-01-01 00:00:14.528640022
325010,1,0,43,3869203419,1099,23,1.452867e+10,1970-01-01 00:00:14.528667516

4\. Find out the duration of the data taking in hours, minutes and seconds, by using the features of the Time Series. Perform this check reading the whole dataset.

In [15]:
s=pd.Series([data.iloc[0,7],data.iloc[-1,7]])
s.diff()

0                         NaT
1   0 days 00:00:14.528608145
dtype: timedelta64[ns]

5\. Use the `.groupby()` method to find out the noisy channels, i.e. the TDC channels with most counts (print to screen the top 3 and the corresponding counts)

In [6]:
data.groupby(by=["FPGA","TDC_CHANNEL"])["FPGA"].count().reset_index(name='count').sort_values(["count"],ascending=False)

     FPGA  TDC_CHANNEL  count
122     0          139  18990
57      0           64  15840
56      0           63  15654
54      0           61  11913
55      0           62  11891
..    ...          ...    ...
253     1          138      7
121     0          138      6
120     0          137      6
118     0          129      1
27      0           30      1

[255 rows x 3 columns]

6\. Count the number of non-empty orbits (i.e. the number of orbits with at least one hit).

In [7]:
len(data.groupby("ORBIT_CNT")["ORBIT_CNT"].count())

3250

7\. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139.

In [8]:
len(data.loc[data['TDC_CHANNEL']==139]["ORBIT_CNT"].unique())

3244

8\. Create two Series (one for each FPGA) that have the TDC channel as index, and the number of counts for the corresponding TDC channel as values.

In [9]:
a=data.loc[data['FPGA']==0].groupby("TDC_CHANNEL")["TDC_CHANNEL"].count()
b=data.loc[data['FPGA']==1].groupby("TDC_CHANNEL")["TDC_CHANNEL"].count()
print(a)
print(b)

TDC_CHANNEL
1        304
2        391
3        391
4        555
5        373
       ...
129        1
130        8
137        6
138        6
139    18990
Name: TDC_CHANNEL, Length: 123, dtype: int64
TDC_CHANNEL
1      6968
2      7967
3      5369
4      6401
5      3622
       ...
129       7
130       9
137       7
138       7
139    8024
Name: TDC_CHANNEL, Length: 132, dtype: int64

9\. **Optional:** Create two histograms (one for each FPGA) that show the number of counts for each TDC channel.

In [10]:
import matplotlib.pyplot as plt